@{
    ViewBag.Title = "Forgotten Password";
    Layout = "~/Views/Shared/_UserEntryLayout.cshtml";
}

<div>
    <h2>Forgotten password</h2>
    <p>Forgot your password? Write down your email so we can send you a message to confirm it is you and enable you to change it!</p>
    <form>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="confirmEmail">Confirm email</label>
            <input type="email" class="form-control" id="confirmEmail" aria-describedby="emailHelp" placeholder="Confirm email">
        </div>
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>
</div>

