
@{
    ViewBag.Title = "ICT Car Rental";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<div class="jumbotron">
    <!--Fix this to sort by dates available-->
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <content>From: </content>
            <input type="date" class="form-control" aria-label="StartDate" style="margin: 0 5px 0 0">
            <content>To: </content>
            <input type="date" class="form-control" aria-label="EndDate" style="margin: 0 7px 0 0">

            <button class="btn btn-primary" type="submit">Apply filters</button>
        </form>
    </nav>
    <hr />
    <h2 class="modal-title">Available cars</h2>
    <p />
    <div>
        <!--Add an element for each car in the database-->
        <!--Using Razor and models-->
    </div>
</div>

