<div class="jumbotron">
    <h1>Contacts</h1>
    <p class="lead">You can find us and contact us through these means:</p>
</div>
<div class="row">
    <p>&#x260E; Phone number: +359 000 000 000</p>
    <p>Intagram: <a href="https://www.instagram.com/">ict_car.rental</a></p>
</div>
