<div class="jumbotron">
    <h1>ICT Car Rental</h1>
    <p class="lead">Wecome to "ICT Car Rental" car rental! We offer a wide variety of vehicles for all of your rental car needs. ...</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Looking for something specific?</h2>
        <p>We've got you covered! Serch through our extencive library for the manufacturer and model you are looking for and see if we have a vehicle matching your search available.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Or just browsing?</h2>
        <p>Not a problem! We hope you can find somethig to your liking and contact us.</p>
        <p><a class="btn btn-default" href="~/Home/Cars">Browse &raquo;</a></p>
    </div>
</div>
